.env
venv
venv_linux
__pycache__
chroma_db
.gradio
.langgraph_api
.vscode
=======
__pycache__
prep
.env
.env.local
chroma_db
test.py
data
creds
credentials
credentials.json
token.json
node_modules
venv
venv2
*.db